.dashboard {
        display: block;
        position: absolute;
        background-color: rgba(245, 246, 248, 1);
        width: 1520.00px;
        height: 740.00px;
        left: 0px;
        top: 0px;
  }
  .dashboard .shape2 {
        display: block;
        position: absolute;
        background-color: transparent;
        width: 914.02px;
        height: 888.01px;
        left: 1057.94px;
        top: -463.98px;
  }
  .dashboard .shape2 .ellipse2 {
      position: absolute;
        -ms-transform: rotate(47.00deg);
      -webkit-transform: rotate(47.00deg);
      transform: rotate(47.00deg);
      -ms-transform-origin: center;
      -webkit-transform-origin: center;
      transform-origin: center;
        fill: rgba(245, 225, 172, 1);
        width: 374.00px;
      height: 901.00px;
      left: 270.01px;
      top: -6.50px;
  }
  .dashboard .shape2 .ellipse3 {
      position: absolute;
      fill: rgba(255, 255, 255, 1);
      width: 18.00px;
      height: 17.00px;
      left: 288.06px;
      top: 517.98px;
}
.dashboard .shape1 {
  position: absolute;
  fill: rgba(191, 230, 249, 1);
  width: 1100.00px;
  height: 654.00px;
  left: -679.00px;
  top: 321.00px;
}
.dashboard .dashboardContainer {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1118.00px;
height: 568.00px;
left: 161.00px;
top: 51.00px;
}
.dashboard .dashboardContainer .rectangle1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: none;
  border-width: 1.00px;
  border-radius: 50px ;
  width: 1118.00px;
  height: 568.00px;
  left: 0.00px;
  top: 0.00px;
  -webkit-border-radius: 50px ;
  -moz-border-radius: 50px ;
  -ms-border-radius: 50px ;
  -o-border-radius: 50px ;
}

/* react-calendar */

.react-calendar {
  z-index: 9999;
  position: absolute;
  top: 150px;
  left: 200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.2);
  border: none !important;
}
